{% extends "layout.html.twig" %}
	
	{% block title %} <title>S'inscrire</title> {% endblock %}

    {% block content %}
    <link href="public/css/inscription.css" rel="stylesheet">

<body>
    <div class="container">
        <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
                <h5 class="card-title text-center">S'inscrire</h5>
                <form class="form-signin" method="post" action="?action=connexion">
                <div class="form-label-group">
                    <input type="text" id="inputUsername" name="nom_utilisateur" class="form-control" placeholder="Username" required autofocus>
                    <label for="inputUsername">Nom</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="inputName" name="prenom_utilisateur" class="form-control" placeholder="Username" required>
                    <label for="inputName">Prénom</label>
                </div>

                <div class="form-label-group">
                    <input type="email" id="inputEmail" name="mail_utilisateur" class="form-control" placeholder="Email address" required>
                    <label for="inputEmail">Adresse mail</label>
                </div>
                
                <hr>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" name="mdp_utilisateur" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Mot de passe</label>
                </div>
                
                {# <div class="form-label-group">
                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                    <label for="inputConfirmPassword">Confirmation mot de passe</label>
                </div> #}

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'inscrire</button>
                <input type="hidden" name="action" value="ajouterUtilisateur">
                <a class="d-block text-center mt-2 " href="index.php?action=connexion">Se connecter</a>
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> S'inscrire avec Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> S'inscrire avec Facebook</button>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
</body>

{% endblock %}	